/*

  red: #8b1a04;
  blue: #02406a;
  yellow: #eabc56;
  green-grey: #95aa91;
  light-grey: #666666;
  dark-grey: #212121;

*/

.container {
  background: #95aa91;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 4vw;
  font-family: 'Patua One', cursive;
}

.header {
  width: 100%;
  padding: 10px;
  border-bottom: solid black 2px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #666666;
  background: -moz-linear-gradient(top, #666666 0%, #212121 100%);
  background: -webkit-linear-gradient(top, #666666 0%,#212121 100%);
  background: linear-gradient(to bottom, #666666 0%,#212121 100%);
  box-shadow: 0px -7px 10px 9px black;
  overflow: hidden;
  z-index: 2;
}

/* -- header --  */

/*.header > div {
  text-align: center;
  align-items: center;
}*/

.options {
  display: flex;
}

.options> img {
  margin-top: 10px;
}

.options > *+* {
  margin-left: 16px;
}

.blue .s1,
.red .s2 {
  background: #02406a;
  padding: 0 15px;
  align-items: center;
  display: flex;
}

.red .s1,
.blue .s2 {
  background: #8b1a04;
  padding: 0 15px;
  align-items: center;
  display: flex;
}

.s1.full-l {
  padding: 0 35px 0 100vw;
}

.s2.full-r {
  padding: 0 100vw 0 35px;
}

.score {
  display: flex;
  font-family: 'Inconsolata';
  font-weight: 700;
}

.score > div:first-child {
  border-radius: 10px 0 0 10px;
  margin-right: -1px;
}

.score > div:last-child {
  border-radius: 0 10px 10px 0;
  margin-left: -1px;
}

.time {
  font-family: 'Inconsolata';
  font-weight: 700;
}

/* -- field -- */
.game {
  width: 100%;
  height: 100%;
}

.field {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
}

.field > div {
  flex-grow: 1;
  transition: flex-grow 200ms linear;
  -webkit-transition: flex-grow 200ms linear;
}

.group {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.group:after {
  position: absolute;
  content: '';
  height: 100%;
  width: 2px;
  background: black;
  top: 0;
  left: 50%;
}

.peg {
  position: relative;
  padding: 4vh;
  border-radius: 50%;
  z-index: 1;
}

.blue .peg,
.teams .blue,
.blue .flag {
  background: #02406a;
  border: solid #02406a 0.9vmin;
}

.red .peg,
.teams .red,
.red .flag {
  background: #8b1a04;
  border: solid #8b1a04 0.9vmin;
}

.peg.active {
  background: #eabc56;
  border: solid #95aa91 1.4vmin;
  padding: 3.5vh;
  box-shadow: 0 0 0 1vmin #eabc56;
  transform: translate(-2px, -2px);
}

.peg.active:after {
  box-shadow: 0 0 10px 1vmin #999;
}

.goal-option {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.goal-option.selected {
  background: rgba(234, 188, 86, 0.4);
}

.field > .goal-type {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex-grow: 5;
  width: 0px;
  box-shadow: inset 0px 0px 7px 1px;
}

.goal-type > *+* {
  border-top: solid #4C5A4A 1px;
}

/* -- modal -- */

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #95aa91;
  z-index: 3;
  position: flex;
  flex-direction: column;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 20vh;
  position: relative;
}

.teams {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.teams > div {
  display: flex;
  flex-direction: column;
}

.selected-players > *+* {
  margin-top: 1vh;
}

.player-list {
  flex: 1;
  overflow: auto;
  margin-top: 4vh;
}

.players {
  display: flex;
  width: 80vw;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 3vw;
}

.player {
  padding: 0.1vw;
  text-align: center;
  border: solid #212121 2px;
  width: 18vw;
  margin: 0.5vw;
  cursor: pointer;
}

.colours {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 80vw;
  flex-wrap: wrap;
}

.colour {
  width: 40vmin;
  height: 40vmin;
  border: solid;
  box-shadow: 2px 2px 4px 1px rgba(100, 100, 100, 0.5);
  border-radius: 4px;
  cursor: pointer;
}

.flag {
  position: absolute;
  width: 5vw;
  height: 5vw;
  margin-left: -7vw;
  border-radius: 4px;
}

.end-game {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.end-game > div:last-child {
  height: 20vh;
}
/* -- traits -- */

.background {
  background: rgba(4, 0, 0, 0.25);
}

.button {
  border-radius: 4px;
  border: solid #86ca86 1px;
  background: #73b55b;
  padding: 6px;
  min-width: 100px;
  max-width: 350px;
  text-align: center;
  box-shadow: 1px 1px 1px 0 rgba(136, 175, 136, 0.72);
  cursor: pointer;
}

.button:active {
  background: #598848;
  transform: scale(0.9, 0.9);
}

.goal-type.collapse {
  flex-grow: 0;
}

.shadow {
  box-shadow: 0px 1px 10px 1px black;
  background: rgba(0, 0, 0, 0.5);
}

.actionable {
  /**/
}

.flex {
  display: flex;
}

.large-text {
  font-size: 8vw;
  line-height: 8vw;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.small-text {
  font-size: 2vw;
}

.vertical-text {
  font-size: 1rem;
  width: 1ch;
  word-wrap: break-word;
  line-height: 0.95rem;
  padding: 1ch;
}

/* misc */

.popup-text {
  z-index: 4;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 10vw;
  color: #fbfbfb;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.62);
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.62);
}

.hide {
  display: none;
}

.console {
  height: 40vh;
  font-size: 15px;
  overflow: auto;
  font-family: 'Roboto Mono';
  border-top: solid black 2px;
  word-wrap: break-word;
  padding-bottom: 15px;
}

.red .devider {
  border-top: 8vw solid #8b1a04;
  border-right: 50px solid #02406a;
  background: transparent;
  border-left: transparent;
  border-bottom: transparent;
  z-index: 1;
}

.blue .devider {
  border-top: 8.1vw solid #02406a;
  border-right: 50px solid #8b1a04;
  background: transparent;
  border-left: transparent;
  border-bottom: transparent;
  z-index: 1;
}

.red .end {
  border-top: 14vw solid #8b1a04;
}

.blue .end {
  border-top: 14vw solid #02406a;
}

.selected-players input {
  font-size: 4vw;
  color: #000000;
  background: transparent;
  border: none;
  border-bottom: solid #212121 2px;
  width: 18vw;
  border-radius: 0;
}
